.menuClosed {
	transform: translate(80px, 0px);
}

.menuOpened {
	transform: translate(270px, 0px);
}

body {
	background: rgb(0, 0, 0);
}

.form-control:focus {
	box-shadow: none;
	border-color: #000000;
}

.profile-button {
	background: rgb(0, 0, 0);
	box-shadow: none;
	border: none;
}

.profile-button:hover {
	background: #000000;
}

.profile-button:focus {
	background: #000000;
	box-shadow: none;
}

.profile-button:active {
	background: #000000;
	box-shadow: none;
}

.back:hover {
	color: #000000;
	cursor: pointer;
}

.labels {
	font-size: 11px;
}

.btn-save-profile {
	text-align: center;
}
